body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p, ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* Hide CRA error overlay – it's enough to see errors in console */
body > #webpack-dev-server-client-overlay {
  display: none !important;
}

abbr[title] { /* used for tooltips on service's settings */
  text-decoration: none !important;
  border-bottom: 1px dotted darkgray !important;
  cursor: help;
}
